<section>
  <p style="font-size: 22px;">
    The answer is "<%= @card.original_text %>"
  </p>
</section>

<section>
  <%= link_to 'Next Due Card', root_path, :class => "btn btn-default" %>
</section>