<head>
  <title>Flashcards</title>
  <link rel="stylesheet" href="application.css">
</head>

<body>
  <section id="container">

    <header class="clearfix">
      <h1>Flashcards</h1>
      <ul class="navigation-links">
        <li><a href="/cards/index">All Cards</a></li>
        <li><a href="/cards/new">Add Card</a></li>
      </ul>
    </header>

    <section>
      <p style="font-size: 22px;">
         The first convenient flash cards manager in the world. That's it.
      </p>
    </section>

  </section>
</body>
