<head>
  <title>Flashcard Manager (DE/EN)</title>
  <link rel="stylesheet" href="application.css">
</head>

<body>
  <section id="container">

    <header class="clearfix">
      <h1>Flashcard Manager (DE/EN)</h1>
      <ul class="navigation-links">
        <li><%= link_to 'All Cards', cards_path %></li>
        <li><%= link_to 'Add Card', new_card_path %></li>
      </ul>
    </header>

    <section>
      <p style="font-size: 22px;">
         Translated Text: <%= @card.translated_text %> <br>
      </p>
    </section>

  </section>
</body>
