<!DOCTYPE html>
<html>
  <head>
    <title>Flashcards</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bootstrap.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="bootstrap.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
